/***********************************************************************************
*    Extra carousel styling for the the main index.html file for vucdigital.dk
*    Added by THAN 2016-05-03
***********************************************************************************/

/*
    #questionCarousel{
        background-color: inherit;
    }

    .carousel-control .glyphicon{
        color:black;
        background-color: transparent;
        border-radius: initial;
        font-size: 36px;
    }


    .carousel-inner{
        padding-left: 50px;
        padding-right: 50px;
    }


    .carousel .carousel-control.right{
        right:0px;
        width: 60px;
    }

    .carousel .carousel-control.left{
        left:0px;
        width: 60px;
    }

    .carousel-control .glyphicon-chevron-left{
        margin-left: -18px;
    }

    .carousel-control .glyphicon-chevron-right{
        margin-right: -10px;
    }
*/

body {  /* THAN 29-06-2016: This has been place here so it mimics the white background of vucdigital.dk/index.html  - MIP 18-08-16 Deactivated so background same as iFrame*/
    /* background-color: white;   */
}

.active {
    cursor: pointer;
}

#questionCarousel {
    background-color: inherit;
}

@media screen and (max-width: 680px) {
    .carousel .carousel-indicators {
        bottom: -38px;
    }
    .carouselOverlay > h3 {
        font-size: 12px
    }
    .carouselOverlay > p {
        margin-top:-10px;
        font-size: 8px
    }
}